PyDrive
argparse
awscli
boto3
botoflow
face_recognition
netifaces
#numpy
onepasswordconnectsdk
opencv-python-headless
pathtools
picamera
python-dateutil
python-magic
pytz
pyzmq
requests
sentry-sdk
simplejson
u-msgpack-python
watchdog