PyDrive
argparse
awscli
boto3
botoflow
face_recognition
netifaces
numpy
opencv-python-headless
pathtools
python-dateutil
python-magic
pytz
pyzmq
requests
rtsp
sentry-sdk
simplejson
u-msgpack-python
watchdog